# emacs as python IDE
jedi
ipython
pyflakes
pylint
autopep8

#
matplotlib
tqdm
numpy
# Pillow
torch
torchvision
scikit-learn
scikit-cuda
scipy
h5py>=2.10.0
ipython
jupyter
pandas
sympy
nose
torch
torchvision
scikit-image
lcksvd @ https://github.com/giussepi/LC-KSVD/tarball/master
gtorch_utils @ https://github.com/giussepi/gtorch_utils/tarball/main
